In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',30)

# Считывание данных

In [2]:
df = pd.read_csv('movie_metadata.csv')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# Удаление ненужных колонок

In [3]:
df = df.drop(['color'], axis=1)

In [4]:
df = df.drop(['movie_facebook_likes', 'actor_2_facebook_likes', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'facenumber_in_poster'], axis=1)

In [5]:
df = df.drop(['gross', 'aspect_ratio'], axis=1)

In [6]:
df = df.drop(['plot_keywords'], axis=1)

In [7]:
df = df.drop(['num_critic_for_reviews', 'num_voted_users', 'cast_total_facebook_likes', 'num_user_for_reviews'], axis=1)

In [8]:
df = df.drop(['budget', 'actor_3_name'], axis=1)

In [9]:
df = df.drop(['language'], axis=1)

In [10]:
df = df.drop(['country'], axis=1)

# Избавляемся от пропусков

In [11]:
df = df.dropna()
df.describe()

          duration   title_year   imdb_score
count  4670.000000  4670.000000  4670.000000
mean    108.700000  2002.120128     6.425696
std      22.223801    12.485448     1.105133
min      20.000000  1916.000000     1.600000
25%      94.000000  1999.000000     5.800000
50%     104.000000  2005.000000     6.500000
75%     118.000000  2010.000000     7.200000
max     330.000000  2016.000000     9.300000

In [12]:
df.columns

Index(['director_name', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'movie_imdb_link', 'content_rating', 'title_year',
       'imdb_score'],
      dtype='object')

In [13]:
print(df.columns)
print(df.shape)
df.head()

Index(['director_name', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'movie_imdb_link', 'content_rating', 'title_year',
       'imdb_score'],
      dtype='object')
(4670, 10)

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,movie_imdb_link,content_rating,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,PG-13,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,PG-13,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,PG-13,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,PG-13,2012.0,8.5
5,Andrew Stanton,132.0,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,PG-13,2012.0,6.6

Нужно разбить возрастной рейтинг на категории:

G, pg, r, nc-17

Каждая соостветсвует возрастному интервалу:

0-12, 13-16, 17, 18+

In [14]:
df.content_rating.unique()
# X = NC-17
# TV-14 = PG
# Not Rated = NC-17
# TV-G = G
# TV-PG = PG
# GP = R
# M = NC-17

array(['PG-13', 'PG', 'G', 'R', 'TV-14', 'Not Rated', 'Unrated',
       'Approved', 'NC-17', 'X', 'GP', 'Passed', 'M', 'TV-G', 'TV-PG'],
      dtype=object)

In [15]:
dict_ = {'Not Rated': 'NC-17', 'NC-17' : 'NC-17', 'PG' : 'PG', 'G' : 'G', 
         'TV-G' : 'G', 'TV-PG' : 'PG', 'GP' : 'R', 'TV-14' : 'PG',
        'Unrated' : 'NC-17', 'Approved' : 'NC-17', 'Passed' : 'NC-17', 
        'X' : 'NC-17', 'M' : 'NC-17', 'PG-13' : 'PG', 'R' : 'R'}

df.content_rating = df['content_rating'].map(dict_)

df.head()

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,movie_imdb_link,content_rating,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,PG,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,PG,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,PG,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,PG,2012.0,8.5
5,Andrew Stanton,132.0,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,PG,2012.0,6.6

In [16]:
df.content_rating.unique()

array(['PG', 'G', 'R', 'NC-17'], dtype=object)

Создание списка топ-20 наиболее встречающихся актеров

In [17]:
top_20_actors = df['actor_1_name'].value_counts()[:20].index.tolist()
top_20_actors

['Robert De Niro',
 'Johnny Depp',
 'Nicolas Cage',
 'J.K. Simmons',
 'Bruce Willis',
 'Matt Damon',
 'Denzel Washington',
 'Liam Neeson',
 'Harrison Ford',
 'Steve Buscemi',
 'Robin Williams',
 'Jason Statham',
 'Robert Downey Jr.',
 'Bill Murray',
 'Tom Cruise',
 'Morgan Freeman',
 'Tom Hanks',
 'Keanu Reeves',
 'Christian Bale',
 'Kevin Spacey']

In [18]:
genres = set()

for i in df.genres:
    for j in i.split('|'):
        genres.add(j)
genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western'}

# Создание базы знаний

Создание списков жанров по настроению и возрасту

In [19]:
file = open('database.pl', 'w')

def quotes(str_):
    return '\'' + str_ + '\''

genre_happy = ['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Fantasy',
 'Horror',
 'Musical',
 'Romance']

genre_sad = ['Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Film-Noir',
 'Horror',
 'Music',
 'Mystery',
 'Romance']

genre_normal = ['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'News',
 'Romance',
 'Sport',
 'Thriller',
 'War',
 'Western']


genre_family = ['Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Thriller',
 'Western']

genre_company = ['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

genre_child = ['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Fantasy',
 'Music',
 'Mystery',
 'Sci-Fi',
 'Sport',
 'War',
 'Western']

genre_teenager = ['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Drama',
 'Fantasy',
 'History',
 'Music',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'Western']

genre_adult_tenager = ['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sport',
 'Thriller',
 'Western']

genre_adult = ['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

def out_str(array):
    out = ''
    for i in array:
        out += quotes(i) + ', '
    out = out[: len(out) - 2]
    
    return out
    
file.write('genre_happy([' + out_str(genre_happy) + ']).\n')
file.write('genre_sad([' + out_str(genre_sad) + ']).\n')
file.write('genre_normal([' + out_str(genre_normal) + ']).\n')
file.write('genre_family([' + out_str(genre_family) + ']).\n')
file.write('genre_company([' + out_str(genre_company) + ']).\n')
file.write('genre_child([' + out_str(genre_child) + ']).\n')
file.write('genre_teenager([' + out_str(genre_teenager) + ']).\n')
file.write('genre_adult_tenager([' + out_str(genre_adult_tenager) + ']).\n')
file.write('genre_adult([' + out_str(genre_adult) + ']).\n')
file.write('\n')

1

Формат базы знаний: предикат film(название фильма, режиссер, год, жанры, длительность, контент цензор, актер первого плана, актер второго плана, рейтинг imdb, ссылка на фильм на сайт imdb)

In [20]:
'''film('Avatar ', 'James Cameron', 2009, ['Action', 'Adventure', 'Fantasy'], 'Sci-Fi', 178, 'PG-13', 'CCH Pounder', 'Joel David Moore', 7.9, 'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1').'''

def splitter(str_):
    out = ''
    for item in str_.split('\''):
        out += item

    return out


def good_str(row):
    out = 'film('
    columns = []
    columns.append('movie_title')
    columns.append('director_name')
    columns.append('title_year')
    columns.append('genres')
    columns.append('duration')
    columns.append('content_rating')
    columns.append('actor_1_name')
    columns.append('actor_2_name')
    columns.append('imdb_score')
    columns.append('movie_imdb_link')
    
    for i in columns:
        if i == 'title_year' or i == 'duration':
            out += str(int(row[i])) + ', '
            
        elif i == 'genres':
            out += '['
            for item in row[i].split('|'):
                out += quotes(item) + ', '
            
            out = out[0:len(out) - 2]
            out += '], '
            
        elif i == 'imdb_score':
            out += str(row[i]) + ', '
            
        elif i == 'movie_imdb_link':
            out += quotes(row[i]) + ', '
            
        else:   
            out += quotes(splitter(row[i])) + ', '
        
    out = out[0:len(out) - 2]
    out += ').\n'
    return out

def write_actors(top):
    out = 'top_actors(['
    for each in top:
        out += quotes(each) + ', '
    out = out[0:len(out) - 2]
    out += ']).\n'
    
    return out

file.write(write_actors(top_20_actors))
file.write('\n')

for index, row in df.iterrows():    

    file.write(good_str(row))
file.close()